* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    line-height: 1.7;
    background-color: #000;
    min-height: 200vh;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: crimson;
}

/* ========= scroll bar =========== */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 10px;
}

/* ====== css variable ========= */
:root {
    --font-large-color: white;
    --font-small-color: #9f9f9f;
    --main-color: #FF2626;
    --bg-color-1: #131416;
    --bg-color-2: #2a2a31;
}

h1 {
    font-size: 90px;
    color: var(--font-large-color);
}

h2 {
    font-size: 46px;
    color: var(--font-large-color);

}

h3 {
    font-size: 34px;
    color: var(--font-large-color);
}

h4 {
    color: var(--font-large-color);
    font-size: 30px;
}

h5 {
    font-size: 20px;
    color: var(--font-large-color);
}

p,
span {
    font-size: 17px;
    color: var(--font-small-color);
}

/* ============= Reusable Classes ============== */
.container {
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: auto;
}

.btn {
    background-color: transparent;
    font-size: 17px;
    color: #fff;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.animated-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    color: white;
    height: 100%;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

.animated-bar {
    width: 5rem;
    height: 4px;
    background-color: var(--main-color);
    margin-top: 15px;
    position: relative;
}

.sub-heading {
    max-width: 40rem;
    text-align: center;
    margin-top: 30px;
    padding: 0 1rem;
}

/* ================ NAVBAR =================== */
#navbar {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0px;
    transition: all 0.3s ease-in-out;
    z-index: 999;
}

#navbar.fixed {
    position: fixed;
    height: 5rem;
    background-color: #131416;
    transition: all 0.3s ease-in-out;
}

#navbar .logo {
    width: 5rem;
    margin-left: 5rem;
    z-index: 5;
}

#navbar .logo img {
    width: 100%;
}

#navbar .nav-items {
    display: flex;
    list-style: none;
    margin-right: 5rem;
}

#navbar .nav-items li {
    margin: 0px 1rem;
}

#navbar .nav-items li a {
    text-decoration: none;
    color: #c1c1c1;
    font-size: 17px;
    cursor: pointer;
}

#navbar .nav-items li a:hover {
    color: #fff;
    font-weight: bold;
    /* border: 1px solid #fff; */
}

/* ============== HOME SECTION =============== */
#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#home .text-holder {
    z-index: 2;
}

#home .text-holder h1 {
    font-weight: 300;
}

#home .text-holder h1 span {
    font-size: 90px;
    color: #FF2626;
}

#home .text-holder h3 {
    font-weight: 300;
}

#home .text-holder h3 span {
    font-size: 34px;
    color: #FF2626;
}

#home .text-holder .button {
    display: block;
    text-align: center;

}

#home .hero-img {
    width: 30rem;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 12rem;
    bottom: -5px;
    pointer-events: none;
    opacity: 0.6;
}

#home .hero-img img {
    width: 100%;
}

#home .social-icons {
    color: #000;
    position: absolute;
    bottom: 1rem;
    z-index: 2;
    right: 5rem;
}
 /* ICONS ONLY */
 #home .social-icons .wrapper {
    display: inline-flex;
    color: #000;
}

#home .social-icons .wrapper .icon {
    position: relative;
    color: #6e6e6e;
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home .social-icons .wrapper .icon .tooltip {
    position: absolute;
    top: -60px;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home .social-icons .wrapper .icon .tooltip::before {
    position: absolute;
    content: " ";
    height: 8px;
    width: 8px;
    background-color: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#home .social-icons .wrapper .icon:hover .tooltip {
    top: -45px;
    color: #fff;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#home .social-icons .wrapper .icon:hover span,
#home .social-icons .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

#home .social-icons .wrapper .facebook:hover,
#home .social-icons .wrapper .facebook:hover .tooltip,
#home .social-icons .wrapper .facebook:hover .tooltip::before {
    background-color: #1877f2;
    color: #fff;
}

#home .social-icons .wrapper .twitter:hover,
#home .social-icons .wrapper .twitter:hover .tooltip,
#home .social-icons .wrapper .twitter:hover .tooltip::before {
    background-color: #1da1f2;
    color: #fff;
}

#home .social-icons .wrapper .instagram:hover,
#home .social-icons .wrapper .instagram:hover .tooltip,
#home .social-icons .wrapper .instagram:hover .tooltip::before {
    background-color: #e4405f;
    color: #fff;
}

#home .social-icons .wrapper .github:hover,
#home .social-icons .wrapper .github:hover .tooltip,
#home .social-icons .wrapper .github:hover .tooltip::before {
    background-color: #333;
    color: #fff;
}

#home .social-icons .wrapper .youtube:hover,
#home .social-icons .wrapper .youtube:hover .tooltip,
#home .social-icons .wrapper .youtube:hover .tooltip::before {
    background-color: #cd201f;
    color: #fff;
}



/* #home .social-icons a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    line-height: 35;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
#home .social-icons li{
    list-style: none;
    
}

#home .social-icons a i {
    color: #000;
}

#home .social-icons a:hover {
    transform: translateY(-10%);
}

#home .social-icons a:hover .fab {
    color: #fff;
}

#home .social-icons li:nth-child(1) a:hover {
    background-color: #FF2626;
} */

#home .scroll-txt {
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    text-transform: uppercase;
}

#home .scroll-txt a {
    text-decoration: none;
    display: inline-block;
    color: #fff;

    font-size: 15px;
    cursor: pointer;
    transition: letter-spacing 0.5 ease-in-out;
    text-align: left;
}

#home .scroll-txt a:hover {
    letter-spacing: 1px;
    color: var(--main-color);
}

/* ============== ABOUT SECTION =============== */
#about {
    background-color: var(--bg-color-1);
    width: 100%;
}

#about .container {
    padding: 100px 0;
}

#about .about-img {
    width: 26rem;
}

#about .about-img img {
    width: 100%;
    border: 10px solid #232323;
    box-shadow: 0 25px -12px rgb(0 0 0/25%);
}

#about .text-wrapper {
    width: 35rem;
    padding-left: 40px;
}

#about .text-wrapper h4 {
    font-weight: 500;
}

#about .text-wrapper h5 {
    margin-top: 50px;
}

#about .text-wrapper h5 span {
    color: var(--main-color);
}

#about .text-wrapper p {
    margin: 20px 0;
}

#about .about-list {
    margin: 10px 0;
}

#about .about-list .list-item {
    display: inline-flex;
    width: 16rem;
    margin-bottom: 1rem;
}

#about .about-list .list-item label {
    font-size: 15px;
    font-weight: 700;
    width: 90px;
    border-right: 1px solid #c1c1c1;
}

#about .about-list .list-item p {
    margin: 0;
    padding-left: 1rem;
}

#about .btn {
    margin: 0;
}

/* ============== SERVICES SECTION =============== */
#services {
    background-color: var(--bg-color-2);
}

#services .animated-bar::before {
    border-color: var(--bg-color-2);
}

#services .container .service-card .card-content {
    width: 22rem;
    padding: 55px 40px;
    margin: 15px;
    border: 1px solid #4c4d50;
    background-color: #131416;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/25%);
    transition: all 0.3s ease-in;
}

#services .container .service-card .card-content:hover {
    transform: translateY(-5%);
    background-color: #1a1a1a;
    border: 1px solid #a2a5ad;
}

#services .container .service-card .card-content i {
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 20px;
}

#services .container .service-card .card-content h5 {
    margin-bottom: 10px;
}


/* ============== RESUME SECTION =============== */
#resume {
    min-height: 100vh;
    background-color: var(--bg-color-1);
}

#resume .container {
    gap: 2rem;
}

#resume .animated-bar::before {
    border-color: var(--bg-color-1);
}

#resume .title {
    margin-bottom: 10px;
}

.resume-item {
    width: 35rem;
    padding: 32px 40px;
    background-color: #191a20;
    border-left: 1px solid var(--main-color);
    position: relative;
    border-bottom: 1px solid #313131;
}

.resume-item .item-arrow {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    top: 2.5rem;
    background-color: var(--main-color);
}

.resume-item:last-child {
    border-bottom: none;
}

.resume-item .item-arrow::after {
    content: " ";
    position: absolute;
    border: 8px solid transparent;
    left: 16px;
    border-left-color: var(--main-color);
}

#skills {
    min-height: 80vh;
    padding-bottom: 100px;
}

.progress-item .progress-bar {
    width: 35rem;
    height: 8px;
    background-color: var(--bg-color-2);
}

.progress-item .progress-bar .progress-line {
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

.progress-item .progress-bar .progress-line::after {
    content: "90%";
    position: absolute;
    color: white;
    font-size: 17px;
    top: -30px;
    right: -15px;

}


#skills .container .progress-item .progress-bar .progress-line.html {
    width: 90%;
}

#skills .container .progress-item .progress-bar .progress-line.html::after {
    content: "90%";
}

#skills .container .progress-item .progress-bar .progress-line.css {
    width: 95%;
}

#skills .container .progress-item .progress-bar .progress-line.css::after {
    content: "95%";
}

#skills .container .progress-item .progress-bar .progress-line.js {
    width: 80%;
}

#skills .container .progress-item .progress-bar .progress-line.js::after {
    content: "80%";
}

#skills .container .progress-item .progress-bar .progress-line.python {
    width: 75%;
}

#skills .container .progress-item .progress-bar .progress-line.python::after {
    content: "75%";
}

#skills .container .progress-item .progress-bar .progress-line.django {
    width: 65%;
}

#skills .container .progress-item .progress-bar .progress-line.django::after {
    content: "65%";
}

#skills .container .progress-item .progress-bar .progress-line.react {
    width: 75%;
}

#skills .container .progress-item .progress-bar .progress-line.react::after {
    content: "75%";
}

/* ============== PORTFOLIO SECTION =============== */
#portfolio {
    min-height: 100vh;
    background-color: var(--bg-color-2);
}

#portfolio .animated-bar::before {
    border-color: var(--bg-color-2);
}

.gallery-wrapper {
    max-width: 1170px;
    margin: auto;
}

.gallery-wrapper .gallery-nav {
    display: flex;
    flex-wrap: wrap;
}

.gallery-wrapper .gallery-nav .gallery-filter {
    padding: 0px 15px;
    margin: 40px 0;
    text-align: center;
    width: 100%;
}

.gallery-wrapper .gallery-nav .gallery-filter .filter-item {
    color: #fff;
    font-size: 17px;
    display: inline-block;
    cursor: pointer;
    margin: 8px 20px 8px 20px;
    line-height: 1.2;
    position: relative;
}

.gallery-wrapper .gallery-nav .gallery-filter .filter-item::after {
    content: " ";
    position: absolute;
    width: 0;
    bottom: -5px;
    left: 50%;
    height: 2px;
    display: block;
    background-color: var(--main-color);
    transition: all 0.3s ease;
    transform-origin: center;
}

.gallery-wrapper .gallery-nav .gallery-filter .filter-item.active::after {
    width: 100%;
    left: 0;
}

.contect-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}

.gallery-item {
    width: calc(100% / 3);
    padding: 15px;
}

.gallery-item.show {
    animation: fade-in 0.5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gallery-item.hide {
    display: none;
}

.gallery-item .gallery-item-inner {
    cursor: pointer;
    position: relative;
}

.gallery-item .gallery-item-inner:hover .overlay {
    opacity: 1;
}

.gallery-item .gallery-item-inner img {
    width: 100%;
    box-shadow: -2px 3px 15px black;
    vertical-align: middle;
}

.gallery-item .gallery-item-inner .overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.1s ease-in;
}

.gallery-item .gallery-item-inner .overlay p {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
}

/* ============== BLOG SECTION =============== */
#blogs {
    min-height: 100vh;
    background: var(--bg-color-2);
}

#blogs .animated-bar::before {
    border-color: var(--bg-color-2);
}

.blog {
    width: 22rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/25%);
    margin: 10px;
    padding: 10px;
    background-color: #131416;
    position: relative;
}

.blog .img-box {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.blog .img-box img {
    width: 100%;
    transition: all 0.3s ease-in;
}

.blog .img-box img:hover {
    transform: scale(1.2);
}

.blog h6 {
    margin-top: 15px;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
}

.blog p {
    margin-top: 10px;
}

.blog button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.blog button a {
    text-decoration: none;
    font-size: 15px;
    color: #878e99;

}

.blog button:hover a {
    color: #ffff;
}

.blog::before {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 15px;
    color: #fff;
    background-color: var(--main-color);
    padding: 5px;
    z-index: 2;
}

.blog-1::before {
    content: "14th feb";

}

.blog-2::before {
    content: "10th aug";

}

.blog-3::before {
    content: "15 dec";

}

/* ============== CONTACT SECTION =============== */
#contact {
    background-color: var(--bg-color-1);
}

#contact .animated-bar::before {
    border-color: var(--bg-color-1);
}

#contact .container {
    gap: 2.5rem;
    align-items: flex-start;
}

form .form-row {
    display: flex;
    justify-self: space-between;
    gap: 15px;
}

form .form-row .input-data {
    width: 50%;
    display: block;
}

.input-data input,
textarea {
    background-color: #1c1d24;
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    font-size: 17px;
    margin-top: 20px;
    transition: border-bottom-color 0.2s ease;
}

.input-data textarea {
    padding: 10px 10px 120px;
}

.input-data input:focus,
textarea:focus {
    border-bottom-color: var(--main-color);
}

#contact form {
    width: 50%;
}

#contact .contact-info {
    width: 40%;
}

#contact .contact-list {
    list-style: none;
    padding-top: 20px;
}

.contact-list .list-item {
    display: flex;
    align-items: center;
}

.contact-list .list-item .icon i {
    font-size: 30px;
    padding-right: 20px;
    color: var(--main-color);
}

.contact-list .list-item .details {
    padding: 15px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #878e99;
    line-height: 22px;
}

.contact-list .list-item .details label {
    font-size: 15px;
    font-weight: 500;
}

.contact-list .list-item .details p {
    font-size: 15px;
}

/* -------- FOOTER ----------- */
footer {
    background-color: #000;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

/* ============ RESPONCIVE ============= */
#navbar .checkbox {
    position: absolute;
    width: 32px;
    height: 26px;
    right: 2.5rem;
    opacity: 0;
    display: none;
}

.hamburger-lines {
    position: absolute;
    width: 32px;
    height: 26px;
    right: 2.5rem;
    pointer-events: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    display: none;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border: 10px;
    background-color: #f8f8f8;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line1 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scale(0);
}

input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* ====== MEDIA QUEIRES MAX WIDTYH=950PX======= */
@media (max-width: 950px) {
    #navbar .nav-items {
        position: fixed;
        flex-direction: column;
        gap: 20px;
        top: 0;
        left: -100%;
        background-color: #131416;
        width: 300px;
        height: 100%;
        padding-top: 8rem;
        padding-left: 2rem;
        transition: all 0.5s ease-in-out;
    }

    input[type="checkbox"]:checked~.nav-items {
        left: 0% !important;
    }

    #navbar .checkbox {
        display: block;

    }

    .hamburger-lines {
        display: flex;

    }

    #navbar .logo {
        margin-left: 1.5rem;
    }

    #about .container .about-img {
        width: 20rem;
    }
}

/* ====== MEDIA QUEIRES MAX WIDTYH=850PX======= */
@media (max-width: 850px) {
    #navbar .checkbox {
        right: 2.5rem;
    }

    #home .text-holder {
        text-align: center;
    }

    #home .text-holder h1,
    #home .text-holder h1 span {
        font-size: 45px;
    }

    #home .text-holder h3,
    #home .text-holder h3 span {
        font-size: 20px;
    }

    #home .scroll-txt {
        display: none;
    }

    #home .social-icons {
        width: 100%;
        text-align: center;
        right: 0;
    }

    #about .container.text-wrapper {
        padding-left: 120px;
    }

    .service-card .card-content {
        width: 100%;
        margin: 15px 0;
    }

    #blog .blog {
        width: 100%;
    }

    .container {
        padding: 0px 80px;
    }

    #portfolio .gallery-item {
        width: 50%;
    }

    #contact .contact-info,
    #contact form {
        width: 40rem;
    }
}

/* ====== MEDIA QUEIRES MAX WIDTYH=700PX======= */
@media (max-width:700px) {
    #portfolio .gallery-item {
        padding: 15px 1.5rem;
    }
}

/* ====== MEDIA QUEIRES MAX WIDTYH=600PX======= */
@media (max-width:600px) {
    .container {
        padding: 0px 20px;
    }

    #home .hero-img {
        display: none;
    }

    #about .container {
        justify-content: flex-start;
        padding: 100px 20px;
    }

    #about .container .text-wrapper {
        padding: 0px;
    }

    #resume .container .resume-item {
        width: 100%;
    }

    #skills .container {
        padding: 0rem 1.5rem;
    }

    #skills .container .progress-item {
        width: 100%;
    }

    #skills .container .progress-item .progress-bar {
        width: 100%;
    }

    #reviews {
        padding: 0px 20px;
        height: auto;
    }

    .owl-carousel .item {
        flex-direction: column;
        text-align: center;
    }

    .owl-carousel .item .img-box {
        width: 8rem;
        margin-bottom: 20px;
    }

    .owl-carousel .item .text-holder {
        padding: 0 !important;
    }
}

/* ====== MEDIA QUEIRES MAX WIDTYH=467PX======= */

@media (max-width:467px) {
    #portfolio .gallery-item {
        width: 100%;
    }

    #portfolio .gallery-filter .filter-item {
        margin-bottom: 10px;
    }
}